<div class="buoy-card">

  <%= link_to buoy_path(buoy), html_options = { class: 'big-card-link' } do %>

    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1520911544319-dae550e93e53?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e5950825598c661a109d32bdc144d482&auto=format&fit=crop&w=1950&q=80');">
      <div class="card-category">
        <%= buoy.category %>
      </div>
    </div>

    <div class="card-description">
      <h2><%= buoy.title %></h2>
      <p><%= buoy.city %></p>
      <h3><%= buoy.price_per_day %>€ <span>per day</span></h3>
    </div>

  <% end %>

</div>
