
  <div class="row">
    <div class="col-md-6 col-md-offset-2">

      <h3>Create a new Booking for "<%= @buoy.title %>"</h3>

      <%= cl_image_tag @buoy.photo, class: "booking-buoy-img" %>

      <%= simple_form_for [@buoy, @booking] do |f| %>
      <div class="form-row">
        <div class="col-md-3">
          <%= f.input :start_date, as: :string, wrapper_html: { :class => "inline_field_wrapper" } %>
        </div>
        <div class="col-md-3">
          <%= f.input :end_date, as: :string, disabled: true, wrapper_html: { :class => "inline_field_wrapper" } %>
        </div>

        <div class="col-md-3">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
        </div>
        <% end %>
        <br>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
        <%= link_to 'Back to buoy', buoy_path(@buoy) %>
    </div>
  </div>

