<h1>Buoys#New</h1>

<%= simple_form_for @buoy do |f| %>
  <%= f.select :category, @array, label: 'Category'%>
  <%= f.input :title, label: 'Title' %>
  <%= f.input :description, label: 'Description' %>
  <%= f.input :age, label: 'Age' %>
  <%= f.input :capacity, label: 'capacity' %>
  <%= f.input :price_per_day, label: 'Price per day in €€€' %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit %>
<% end %>
