<div class="wrapper-buoy-show">

  <div class="big-box">
    <div class="container container-buoy-show-hero">

      <div class="row">
        <div class="col-xs-12">
          <div class="buoy-show-hero-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(' <%= cl_image_path(@buoy.photo); %>') ;">
          </div>
        </div>
      </div>
    </div>

    <div class="container container-buoy-show-info">
      <!-- <div class="row row-buoy-show-back">
        <button><%= link_to 'Back to list', url_for(:back) %></button>
      </div> -->
      <div class="row row-buoy-show-info">
        <div class="col-xs-12 col-md-8">
          <div class="buoy-show-infos">
            <p>#<%= @buoy.category %></p>
            <h2><%= @buoy.title %></h2>
            <div class="buoy-show-infos-avatar-name">
              <!-- add avatar picture here -->
             <p>Rented by <span><%= @buoy.user.first_name %> <%= @buoy.user.last_name %></span></p>
             <p> <i class="fas fa-map-marker"></i>  <%= @buoy.city %></p>
            </div>
            <div class="buoys-show-details">
              <span><i class="fas fa-clock"></i> <%= @buoy.age %> y/o</span>
              <span><i class="fas fa-user-friends"></i> <%= @buoy.capacity %> ppl</span>
            </div>
            <div class="buoys-show-details-description">
              <h4>Description</h4>
              <p><%= @buoy.description %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="buoy-show-booking">
            <div class="buoy-show-price">
              <h1><%= @buoy.price_per_day.to_i %> <i class="fas fa-euro-sign"></i> <br><span>per day</span></h1>
            </div>

            <!-- add date picker once it is implemented -->
            <div class="buoy-show-datepicker" >
              <%= simple_form_for [@buoy, @booking] do |f| %>
              <div class="form-row">
                <div class="col-xs-12 col-md-6">
                  <%= f.input :start_date, as: :string, wrapper_html: { :class => "inline_field_wrapper" } %>
                </div>
                <div class="col-xs-12 col-md-6">
                  <%= f.input :end_date, as: :string, disabled: true, wrapper_html: { :class => "inline_field_wrapper" } %>
                </div>

                <div class="col-xs-12">
                  <%= f.button :submit, :disabled => @user_not_logged, class: 'btn btn-primary' %>
                </div>

              </div>
              <% end %>
            </div>


            <div class="buoy-show-booking-links">
              <!-- here is the logic to make buttons invisible to non logged users or not owner of listing -->
              <% if current_user == @buoy.user %>
                <div class="buoy-show-owner-actions">
                  <p>You are the owner of this buoy</p>
                  <%= link_to 'Edit',edit_buoy_path(@buoy), class: 'btn btn-danger' %>
                  <%= link_to 'delete',buoy_path(@buoy), method: 'delete', class: 'btn btn-danger' %></div>
                </div>
              <% end %>
              <!-- end of buttons stuff -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container container-buoy-show-reviews">
      <div class="row-buoy-show-reviews">
        <div class="buoy-show-reviews">
          <h3>What people who rented this inflatable think...</h3>
          <!-- add iteration over reviews once they are implemented -->
            <p>...Well, actually, you will be the first to try it, go for it!
            </p>
           <!-- iterate over reviews -->
        </div>
      </div>
    </div>
  </div>

</div>
