
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Write a review</h1>

    <%= simple_form_for @buoy do |f| %>
      <%= f.input :description, label: 'Description' %>
      <%= f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
        <%= b.radio_button + b.label {'Rating'} %>
      <% end %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
